/*=========================*/
/*         VARIABLES       */
/*=========================*/

:root {

    /* Primary */
    --green-500: #1db489;
    --red-500: #dc414c;

    --blue-600-facebook: #198ef5;
    --blue-500-twitter: #1ca0f2;

    /* Instagram gradient stops */
    --instagram-stop-1: #fdc468;
    --instagram-stop-2: #ee867c;
    --instagram-stop-3: #df4996;
    --gradient-instagram: linear-gradient(45deg, var(--instagram-stop-1), var(--instagram-stop-2), var(--instagram-stop-3));

    --red-700-youtube: #c4032a;

    /* Toggle - Dark Theme */
    --toggle-gradient-stop-1-dark: #368fe7;
    --toggle-gradient-stop-2-dark: #3eda82;
    --gradient-toggle-dark: linear-gradient(45deg, var(--toggle-gradient-stop-1-dark), var(--toggle-gradient-stop-2-dark));

    /* Toggle - Light Theme */
    --gray-400-toggle-light: #aeb3cb;

    /* Neutral - Dark Theme */
    --gray-950-bg-dark: #1e202a;
    --gray-900-top-bg-pattern-dark: #20222F;
    --navy-950-card-bg-dark: #252a41;
    --gray-400-text-dark: #aeb3cb;
    --white-text-dark: #ffffff;
    --gray-925-card-hover-bg-dark: #333A56;

    /* Neutral - Light Theme */
    --white-bg-light: #ffffff;
    --blue-50-top-bg-pattern-light: #f5f7ff;
    --navy-50-card-bg-light: #f0f2fa;
    --gray-650-text-light: #63687e;
    --gray-950-text-light: #1e202a;
    --gray-250-card-hover-bg-light: #E1E3F0;


    /* DARK THEME */
    --bg-color: var(--gray-950-bg-dark);
    --top-bg-pattern: var(--gray-900-top-bg-pattern-dark);
    --card-bg-color: var(--navy-950-card-bg-dark); 
    --title-color: var(--white-text-dark);
    --subtitle-color: var(--gray-400-text-dark);
    --text-color: var(--gray-400-text-dark);
    --followers-color: var(--white-text-dark);
    --card-title-color: var(--gray-400-text-dark);
    --card-likes-color: var(--white-text-dark);
    --card-hover-bg-color: var(--gray-925-card-hover-bg-dark);

    --font-primary: 'Inter', Arial, Helvetica, sans-serif;

}



/*=========================*/
/*          GERALS         */
/*=========================*/

[data-theme="light"] {
    --bg-color: var(--white-bg-light);
    --top-bg-pattern: var(--blue-50-top-bg-pattern-light);
    --card-bg-color: var(--navy-50-card-bg-light); 
    --title-color: var(--gray-950-text-light);
    --subtitle-color: var(--gray-650-text-light);
    --text-color: var(--gray-650-text-light);
    --followers-color: var(--gray-950-text-light);
    --card-title-color: var(--gray-650-text-light);
    --card-likes-color: var(--gray-950-text-light);
    --card-hover-bg-color: var(--gray-250-card-hover-bg-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--bg-color);
}

body .container {
    padding: 1.5rem;
}

p {
    margin: 0;
}

.card {
    font-size: 0.875rem;
    font-weight: 400;
    border: none;
    color: var(--text-color);
    background-color: var(--card-bg-color);
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.card:hover,
.card:focus {
    background-color: var(--card-hover-bg-color);
}

.card-header,
.card-footer {
    border: none;
    background-color: transparent;
}

.title {
    color: var(--title-color);
}

.subtitle {
    color: var(--subtitle-color);
}

.followers-number {
    color: var(--followers-color);
}

/*=========================*/
/*          HEADER         */
/*=========================*/

#header {
    position: relative;
}

.bg-color {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25%;
    background-color: var(--top-bg-pattern);
    z-index: -1;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: transparent;
}

.primary-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.header-content {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--text-color);
}

.header-content .title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.header-content .subtitle {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0;
}

.form-switch {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#switch {
    position: relative;
    width: 2.75rem;
    height: 1.5rem;
    background: var(--gradient-toggle-dark);
    border: none;
    cursor: pointer;
}

#switch:checked {
    background: var(--gray-400-toggle-light);
}

#switch:checked:hover,
#switch:checked:focus-within {
    background: var(--gradient-toggle-dark);
}

#switch::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin: 0 0.25rem;
    border-radius: 50%;
    display: block;
    width: 1rem;
    height: 1rem;
    background-color:var(--top-bg-pattern);
    content: "";
    transition: transform .2s ease-in-out;
}

#switch:checked::after {
    transform: translate(calc(100% + 0.25rem), -50%);
    background-color: var(--white-bg-light);
}

.secondary-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.secondary-section .card {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 1rem 0;
}

.secondary-section .card::before {
    position: absolute;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: 0.25rem;
}


/* Get the Facebook card before element */
.secondary-section .card:nth-child(1)::before {
    background-color: var(--blue-600-facebook);
}

/* Get the Twitter card before element */
.secondary-section .card:nth-child(2)::before {
    background-color: var(--blue-500-twitter);
}

/* Get the Instagram card before element */
.secondary-section .card:nth-child(3)::before {
    background: var(--gradient-instagram);
}

/* Get the Youtube card before element */
.secondary-section .card:nth-child(4)::before {
    background-color: var(--red-700-youtube);
}

.secondary-section .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
}

.social-icon {
    width: 1.5rem;
}

.followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.followers-number {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
}

.secondary-section .card-footer {
    font-weight: 700;
    color: var(--green-500);
}

.secondary-section .card-footer.small {
    color: var(--red-500);
}


/*=========================*/
/*           MAIN          */
/*=========================*/

.overview-section .title {
    font-size: 1.25rem;
    font-weight: 700;
}

.overview-section .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overview-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
}

.social-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.overview-cards .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    font-weight: 700;
}

.card-primary-content,
.card-secondary-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.card-primary-content {
    align-items: flex-start;
}

.card-secondary-content {
    align-items: flex-end;
}

.card-primary-content .title {
    font-size: 0.875rem;
    color: var(--card-title-color);
}

.card-primary-content .subtitle {
    font-size: 2.25rem;
    line-height: 1.5rem;
    color: var(--card-likes-color);
}

.card-percentage {
    display: flex;
    color: var(--green-500);
}

.card-percentage::before {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 1rem;
    height: 1rem;
    content: url('/src/assets/images/icon-up.svg');
}

.card-percentage.small {
    color: var(--red-500);
}

.card-percentage.small::before {
    content: url('/src/assets/images/icon-down.svg');
}


/*===============================*/
/*        ---- TABLET ----       */
/*===============================*/

@media (min-width: 48em) {
    
    /*=========================*/
    /*          HEADER         */
    /*=========================*/

    .primary-section {
        gap: 2rem;
    }

    .header-content {
        padding-bottom: 2rem;
    }

    .secondary-section {
        grid-template-columns: 1fr 1fr;
    }

    /*=========================*/
    /*           MAIN          */
    /*=========================*/

    .overview-cards {
        grid-template-columns: 1fr 1fr;
    }

}


/*===============================*/
/*       ---- DESKTOP ----       */
/*===============================*/

@media (min-width: 80em) {
    
    /*=========================*/
    /*          HEADER         */
    /*=========================*/

    .bg-color {
        height: 75%;
    }

    .primary-section {
        padding: 1rem 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-content {
        padding-bottom: 0;
        border-bottom: none;
        flex-grow: 2;
    }

    .header-content .title {
        font-size: clamp(1.5rem, calc(-2.5rem + 5vw), 2.5rem);
    }

    .form-switch {
        flex-grow: 1;
        justify-content: flex-end;
        gap: 4rem;
    }

    .secondary-section {
        grid-template-columns: repeat(4, 1fr);
    }

    /*=========================*/
    /*           MAIN          */
    /*=========================*/

    .overview-section .title {
        font-size: clamp(1.250rem, calc(-4.750rem + 7.5vw), 2.000rem);
    }

    .overview-section .subtitle {
        font-size: clamp(2.250rem, calc(-1.750rem + 5vw), 2.750rem);
    }

    .overview-cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }

    .overview-cards .card {
        padding: clamp(1.500rem, calc(-2.500rem + 5vw), 2.000rem);
    }

    .card-primary-content,
    .card-secondary-content {
        gap: clamp(1.500rem, calc(-2.500rem + 5vw), 2.000rem);
    }
    
    .card-primary-content .title {
        font-size: clamp(0.875rem, calc(-0.125rem + 1.25vw), 1.000rem);
    }

}